.profileBG {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.profileBG img {
  width: 100%;
  height: 300px;
}

.profileContent {
  position: relative;
  z-index: 1;
  padding-top: 150px;
  padding-left: 10px;
}

.profileAvatar img {
  width: 230px;
  height: 328px;
  
}

.profileWrapper {
  display: grid;
  grid-template-columns: 1fr 8fr;
  
  width: 100%;
}

.app-main {
  width: 100%;
  position: relative;
}
