.profileBG {
  position: absolute;
  z-index: 1;
}
.profileBG img {
  box-shadow: 12px 29px 81px 5px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.profileContent {
  position: relative;
  z-index: 1;
  padding-top: 150px;
  padding-left: 10px;
}

.profileAvatar img {
  width: 287px;
  height: 328px;
}

.profileWrapper {
  width: 100%;
}

.app-main{
  width: 100;
}
