.dialogs {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.dialog a.active {
  color: gold;
}

.dialog a {
  text-decoration: none;
  color: white;
}

.chatBar {
  grid-area: 1/2/2/3;
  border: 1px solid black;
  padding: 10px;
}

.messageInput {
  background-color: rgba(124, 121, 121, 0.2);
  width: 80%;
  height: 100%;
  resize: none;
  border-radius: 5px;
}

.messageField {
  display: flex;
  height: 36px;
  align-items: center;
}

.messageSend {
  border-radius: 5px;
  height: 100%;
  background-color: rgba(124, 121, 121, 0.1);
}
