.app-navigation {
  grid-area: navigation;
  background-color: rgba(197, 194, 194, 0.4);
}
.nav-components {
  list-style: none;
  padding: 10px;
}

.nav-component a {
  color: white;
  text-decoration: none;
}

.nav-component a.active {
  color: gold;
  font-family: Logo;
}

.friendsList {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.friends {
  padding: 10px;
  ma
}
