.messageYour {
  background-color: rgb(184, 181, 147);
}
.messageRespondent {
  background-color: rgb(224, 180, 113);
}

.message {
  width
  margin: 10px;
  border: 1px solid;
  border-radius: 30px;
}
