.textareaPost {
  max-height: 50px;
  min-height: 50px;
  font-size: 2vh;
  border-radius: 10px;
  resize: none;
  background-color: rgba(124, 121, 121, 0.1);
  outline: none;
  color: white;
}

.myPosts {
  padding: 10px;
}

.makePost {
  display: flex;
  align-items: flex-end;
  ju
}

.addPostBTN {
  border-radius: 10px;
  background-color: rgba(124, 121, 121, 0.1);
  outline: none;
  color: white;
}
